<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DireccionTemporal" value="C:\PixelPos\ARCHIVOS_XML\FE\"/>
    <add key="DireccionLocal" value="C:\PixelPos\ARCHIVOS_XML\ONLINE\"/>
    <add key="DireccionRemota" value="\\192.168.1.53\compartida\xml_prueba"/>
    <add key="FacturaCodDoc" value="01"/>
    <add key="FacturaTipoEmision" value="1"/>
    <add key="FacturaVersion" value="1.1.0"/>
    <add key="FacturaId" value="comprobante"/>
    <add key="FacturaImpuestos0Codigo" value="2"/>
    <add key="FacturaImpuestos0CodigoPorcentaje" value="0"/>
    <add key="FacturaImpuestos0DescuentoAdicional" value="0.00"/>
    <add key="FacturaImpuestos0Valor" value="0.00"/>
    <add key="FacturaImpuestos12Codigo" value="2"/>
    <add key="FacturaImpuestos12CodigoPorcentaje" value="2"/>
    <add key="FacturaImpuestos12Tarifa" value="2"/>
    <add key="FacturaImpuestos12DescuentoAdicional" value="0.00"/>
    <add key="FacturaMoneda" value="DOLAR"/>
    <add key="FacturaPagoPlazo" value="0"/>
    <add key="FacturaPagoUnidadTiempo" value="Dias"/>
    <add key="ParametroIdAlmacen" value="101"/>
    <add key="CreditCardSapFaltante" value="152"/>
    <add key="CodigoEmpresaNomina" value="01"/>
    <add key="CodigoRubroFaltanteCaja" value="2290"/>
    <add key="MostrarPanelOculto" value="false"/>
    <add key="PrinterName" value="facturas1"/>
    <add key="CreditCardSapRetencion" value="147"/>
    <add key="AccountSapRetencion" value="110206097"/>
    <add key="CreditCardSapCompra" value="162"/>
    <add key="AccountSapCompra" value="110104998"/>
    
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>